:root {
    --mainColor: blue;
    --iconColor: #432EAB;
    --plumbum: #262C40;
    --asphalt: #8189A3;
    --searchIconColor: #432EAB;
    --blueberry: #D4DEFE;
    --background-light-stroke:rgba(188, 195, 208, 0.50);
}